p{
  font-size :15px;
  color:red;
}
#pid{
color:yellow
}
.pclass{
color:red:
}
.p2class{
  font-size:18px;
  color=blue}
  .row{

    height:100%;
    width:100%;
    border: 1px;
  }
